.landing-page-app-bar {
    background-color: white;
}

.landing-page-link {
    text-decoration: none;
    color: grey;
}

.landing-page-link:hover {
    text-decoration: none;
    color: black;
}

.landing-page-special-btn {
    border: 1px solid black;
    border-radius: 5px;
}

.landing-page-banner-heading {
    font-size: 150px;
    color: white;
}

.landing-page-banner-subitle {
    font-size: 48px;
    color: white;
}

.landing-page-banner-special-btn {
    border: none;
    border-radius: 20px;
    background-color: teal;
    color: white;
    font-size: 32px;
}

.landing-page-feature-holder {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

}

.landing-page-feature-heading {
    font-size: 50px;
}

.landing-page-feature-subtitle {
    font-size: 28px;
}