body {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto',sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ab);
    height: 100vh;
    /* overflow: hidden; */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: whitesmoke;
    border-radius: 10px;
}

.center h1 {
    text-align: center;
    padding: 15px 0 20px 0;
    border-bottom: 2px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .textfild {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.textfild input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.textfild label {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;

}

.textfild span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2980b9;
    transition: 0.7ms;
}

.textfild input:focus~label,
.textfild input:valid~label {
    top: -5px;
    color: #2980b9;

}

.textfild input:focus~span::before,
.textfild input:valid~span::before {
    width: 100%;
}

.forget {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
    font-size: 14px;
}

.forget:hover {
    text-decoration: underline;
}

#login {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2961d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

#login:hover {
    border-color: #2961d9;
    transition: .5s;
}

.signup {
    margin: 30px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #858181;
    
}
#signup{
    /* margin-right: 20px; */
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    color: #020202;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
#signup:hover{
    background: rgb(173, 175, 176);
    transition: .3s;
}
#loginfont{
    font-size: 12px;
    color: #868181;
}
#loginbtn{
    background: none;
    outline: none;
    border: none;
    font-size: 15px;
    color: #868181;
}
#loginbtn:hover{
    color: #020202;
    transition: .3s;

}